# <center>Analytics Vidhya - Black Friday</center>

In [25]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import xgboost as xgb
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings("ignore")

###### Importing datasets

In [26]:
train = pd.read_csv("C://Users/abc/Desktop/Data Analytics/Projects/Black Friday/train.csv")
test = pd.read_csv("C://Users/abc/Desktop/Data Analytics/Projects/Black Friday/test.csv")

In [27]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [28]:
train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

###### Data cleaning and Imputing

In [29]:
train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [30]:
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [31]:
train = train.fillna(9999)
test = test.fillna(9999)

In [32]:
train.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [33]:
test.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
dtype: int64

###### Converting

In [15]:
train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [251]:
# Categorical columns
categorical_columns = ["Product_ID", "Gender", "Age", "Occupation", "City_Category", "Stay_In_Current_City_Years",
                       "Marital_Status", "Product_Category_1", "Product_Category_2", "Product_Category_3"]

In [252]:
# Label
train_y = train['Purchase']

In [253]:
train_X = train.copy()
test_X = test.copy()

### Removing Outliers which are 2 standard deviations away

In [ ]:
#Not done yet

In [254]:
# Encoding categorical variable with label encoding
for var in categorical_columns:
    lb = preprocessing.LabelEncoder()
    full_var_data = pd.concat((train_X[var], test_X[var]), axis=0).astype('str')
    lb.fit(full_var_data)
    train_X[var] = lb.transform(train_X[var].astype('str'))
    test_X[var] = lb.transform(test_X[var].astype('str'))

In [255]:
# Dropping target variable from train set
train_X = train_X.drop(['Purchase','User_ID'],axis=1)

In [265]:
test_X = test_X.drop(['User_ID'],axis=1)

In [256]:
sns.heatmap(train_X.corr())

In [257]:
train_X.corr()

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
Product_ID,1.000000,0.015948,0.023609,0.003170,0.007065,-0.002397,0.011660,0.013715,0.142485,0.108449
Gender,0.015948,1.000000,-0.004262,-0.013210,-0.004515,0.014660,-0.011603,-0.102222,-0.003127,-0.027146
Age,0.023609,-0.004262,1.000000,-0.029619,0.123079,-0.004712,0.311738,0.030523,-0.000251,0.010870
Occupation,0.003170,-0.013210,-0.029619,1.000000,-0.042639,-0.002842,-0.020608,-0.000671,0.003039,0.003098
City_Category,0.007065,-0.004515,0.123079,-0.042639,1.000000,0.019946,0.039790,-0.032002,-0.023261,-0.028584
Stay_In_Current_City_Years,-0.002397,0.014660,-0.004712,-0.002842,0.019946,1.000000,-0.012819,-0.005654,-0.003259,-0.001207
Marital_Status,0.011660,-0.011603,0.311738,-0.020608,0.039790,-0.012819,1.000000,0.011189,0.005348,0.004484
Product_Category_1,0.013715,-0.102222,0.030523,-0.000671,-0.032002,-0.005654,0.011189,1.000000,0.190537,0.305791
Product_Category_2,0.142485,-0.003127,-0.000251,0.003039,-0.023261,-0.003259,0.005348,0.190537,1.000000,0.201066
Product_Category_3,0.108449,-0.027146,0.010870,0.003098,-0.028584,-0.001207,0.004484,0.305791,0.201066,1.000000

In [235]:
# train_X = np.array(train_X)
# test_X = np.array(test_X)

In [258]:
from sklearn import metrics
from sklearn.metrics import r2_score

In [259]:
X = ['Product_ID','Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3']
y = 'Purchase'

In [260]:
XX = train_X
yy = train_y
print(XX.shape)
print(yy.shape)
XX_train, XX_test, yy_train, yy_test = train_test_split(XX, yy, test_size=0.3, random_state=5)

(550068, 10)
(550068,)

### Xgb Modeling

In [266]:
# Modeling
import sys
dtrain = xgb.DMatrix(data=XX_train.values, label=yy_train, missing=np.nan)

param = {'objective': 'reg:linear', 'booster': 'gbtree', 'silent': 1,
		 'max_depth': 10, 'eta': 0.1, 'nthread': 4,
		 'subsample': 0.8, 'colsample_bytree': 0.8, 'min_child_weight': 20,
		 'max_delta_step': 0, 'gamma': 0}
num_round = 690

seeds = [1051, 2122, 3046, 4568, 5125]
test_preds = np.zeros((len(test_X), len(seeds)))

for run in range(len(seeds)):
	sys.stdout.write("\rXGB RUN:{}/{}".format(run+1, len(seeds)))
	sys.stdout.flush()
	param['seed'] = seeds[run]
	clf = xgb.train(param, dtrain, num_round)
	dtest = xgb.DMatrix(test_X.values, missing=np.nan)
	test_preds[:, run] = clf.predict(dtest)

test_preds = np.mean(test_preds, axis=1)

XGB RUN:5/5

In [267]:
Data_Predicted = pd.read_csv("C:/Users/abc/Desktop/Data Analytics/Projects/Black Friday/test.csv",usecols=["User_ID","Product_ID"])

In [268]:
Data_Predicted['Purchase'] = test_preds
Data_Predicted.head()

   User_ID Product_ID      Purchase
0  1000004  P00128942  16481.834766
1  1000009  P00113442  11865.645117
2  1000010  P00288442   6338.345117
3  1000010  P00145342   2908.098828
4  1000011  P00053842   2417.294116

In [269]:
Data_Predicted.to_csv('C:/Users/abc/Desktop/Data Analytics/Projects/Black Friday/Solution.csv',index=False)

### Xgb Modeling without parameter tuning

In [180]:
model = XGBRegressor()

In [181]:
model.fit(XX_train, yy_train)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [182]:
y_pred = model.predict(XX_test)

In [183]:
predictions = [round(value) for value in y_pred]

In [184]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [185]:
# evaluate predictions
MSE = mean_squared_error(yy_test, predictions)
print("MSE: ", MSE)

MSE:  8655701.11962

In [186]:
# RMSE
r2_score(yy_test, predictions)

0.65627058354976753

### Prediction on real data

In [187]:
test_X = test_X.drop('User_ID',axis=1)

In [188]:
test_X = np.array(test_X)

In [189]:
Prediction = model.predict(test_X)

In [190]:
Data_Predicted = pd.read_csv("C:/Users/abc/Desktop/Data Analytics/Projects/Black Friday/test.csv",usecols=["User_ID","Product_ID"])

In [191]:
Data_Predicted['Purchase'] = round(pd.Series(Prediction))
Data_Predicted.head()

   User_ID Product_ID  Purchase
0  1000004  P00128942   13462.0
1  1000009  P00113442   10684.0
2  1000010  P00288442    6052.0
3  1000010  P00145342    3358.0
4  1000011  P00053842    3661.0

In [192]:
Data_Predicted.to_csv('C:/Users/abc/Desktop/Data Analytics/Projects/Black Friday/Solution.csv',index=False)